NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_MAP_STYLE_URL=https://tiles.openfreemap.org/styles/dark
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_FEATURE_AI=true
NEXT_PUBLIC_FEATURE_POINTS_HISTORY=true
NEXT_PUBLIC_FEATURE_RSVP=false
NEXT_PUBLIC_R2_PUBLIC_HOST=